$yellow-color: #fed700;
$brown-color: #333e48;

  .banner {
    background: url('./assets/background.jpg') no-repeat top center/cover;
    margin: 0 auto;
    align-items: center !important;
  }

  .banner-user{
    height: 420px;
  }
  .banner-user-elem{
    text-align: center;
    align-items: center;
  }
  .banner-user-elem .banner-user-title{
    font-size: 32px;
    align-items: center !important;
  }

  .banner-user-text {
    height: 420px;
    align-items: center;
    .watch {
      margin-top: -50px;
      width: 100%;
      overflow:hidden; 
      padding-left: 100px;
    }
    .sound {
      width: 80%;
      margin-top: -100px;
      overflow:hidden; 
    }
  }

  .banner-slider { 
    align-items: center !important;
    .banner-user-title {
      padding: 50px 0 0 0;
      position: relative;
      button {
        background-color: $yellow-color;
        font-size: 17px;
        padding: 10px 70px;
        border-radius: 10px;
        // width: 100%;
        position: absolute;
        left:0;
      }
      h2 {
        font-size: 75px;
        font-weight: 350;
        line-height: 65px;
        div {
          font-size: 65px;
        }
      }
      h5 {
        margin-top: -30px;
        font-size: 17px;
        font-weight: 650;
      }
      h6 {
        text-align: left;
        padding-left: 3%;
        font-size: 15px;
      }
      .banner-price {
        font-size: 55px;
        font-weight: 650;
        position: relative;
        text-align: left;
        left: 30px;
        margin-top: -20px;
        span {
          font-size: 40px;
          position: absolute;
        }
        .money-unit {
          left: -22px;
        }
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: #58c7ee !important;
        margin-top: 20px;
      }
      h3 {
        line-height: 55px;
        text-align: left;
        font-size: 50px;
        font-weight: 350;
      }
    }
  }
  
  .banner-anim-elem{
    position: relative !important;
  }
  .banner-user-text {
    position: relative !important;
    overflow: hidden;
    margin-right:20px;
  }
  .container1 {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center !important;
  }
  .banner {
    position: relative ;
    .banner-menu {
      // position: absolute;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      .menu-item {
        margin: 0 20px !important;
        border-bottom: 1px solid rgba(128, 128, 128, 0.103);
      }
      .last-item {
        font-weight: 400;
        border-bottom: none;
        margin-bottom: 3px !important;
      }
      .ant-menu-submenu-title {
        letter-spacing: 0.2px;
        margin: -3px 0;
      }
      .ant-menu-title-content {
        margin: 0 0 0 -14px;
      }
    }
  }

  // .ant-menu-item {
  //   background-color: red !important;
  //   position: absolute !important;
  //   top: 0;
  //   right: 1000px !important;
  //   width: 400px;
  //   height: 500px;
  //   padding: 100px;
  // }

  .ant-menu > .ant-menu-item:hover,
  .ant-menu > .ant-menu-submenu:hover,
  .ant-menu > .ant-menu-item-active,
  .ant-menu> .ant-menu-submenu-active,
  .ant-menu > .ant-menu-item-open,
  .ant-menu> .ant-menu-submenu-open,
  .ant-menu > .ant-menu-item-selected,
  .ant-menu > .ant-menu-submenu-selected {
    font-weight: 600;
    color: $brown-color !important;
    border-bottom: 1px solid $yellow-color;
    &:last-child {
      border-bottom: none;
    }
  }

  .ant-menu-vertical {
    position: absolute;
    top: 0px;
    // background-color: $yellow-color !important;
  }


  // .ant-menu-item-only-child{
  //   position: absolute !important;
  //   top: 0px !important;
  //   background-color: red !important;
  //   width: 200px !important;
  // }



//  .ant-menu-vertical .ant-menu-item{
//    margin-right: 100px !important;
//  }

.ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: black !important;
  font-weight: 700;
}

  .item-top {
    .ant-menu-submenu-arrow {
      display: none;
    }
  }


  .navbar {
    margin: 0 auto -30px auto;
    display: flex;
    .all-departments {
      width: 270px;
      background-color: $yellow-color;
      color:white;
      padding: 10px 20px;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: black;
      font-weight: 700;
    }
    .menu {
      width: 500px;
      padding-left: 30px;
      font-weight: 600;
    }
    ul li:first-child{
      color: $yellow-color !important;
    }
    .ant
    .dropdown {
      color: red !important;
    }
  }

