$yellow-color: #fed700;
$brown-color: #333e48;

.signup-bar {
    background-color: $yellow-color;
    padding: 15px 0;
    .group {
        padding-top: 5px
    }
    .newsletter {
        font-size: 22px;
        // margin-left: -110px;
    }
    .shopping {
        font-size: 16px;
        padding: 10px 0 0 0;
    }
    .signup-input {
        font-size: 15px;
        input {
            padding: 10px 40px 10px 30px;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            width: 450px;
            align-items: center;
        }
        button {
            background-color: #333e48;
            color: white;
            padding: 10px 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            text-align: center;
            align-items: center;
            &:hover {
                background-color: #282d31;
            }
        }
    }
}

.footer {
    padding: 50px 0;
    .footer-left {
        width: 30%;
    }
    h2 {
        font-size: 25px;
        font-weight: 400;
    }
    h4 {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: -5px;
    }
    img {
        width: 40%;
        padding-bottom: 20px;
    }
    .icon {
        color: $yellow-color;
        font-size: 50px;
    }
    h5 {
        padding-top: 15px;
        font-size: 15px;
        font-weight: 700;
    }
    .address {
        font-size: 15px;
        margin-top: -5px;
    }
    .social-icon {
        font-size: 25px;
        padding-right: 15px;
        color: #333e48b4;
    }
    .footer-right {
        width: 57%;
        h6 {
            font-size: 16px;
        }
        .middle {
            padding-top: 32px;
        }
        p {
            line-height: 16px;
            font-size: 15px;
        }
    }
}